#!/bin/sh
# 
# *****************************************************************
# *                                                               *
# *    Copyright (c) Digital Equipment Corporation, 1991, 1994    *
# *                                                               *
# *   All Rights Reserved.  Unpublished rights  reserved  under   *
# *   the copyright laws of the United States.                    *
# *                                                               *
# *   The software contained on this media  is  proprietary  to   *
# *   and  embodies  the  confidential  technology  of  Digital   *
# *   Equipment Corporation.  Possession, use,  duplication  or   *
# *   dissemination of the software and media is authorized only  *
# *   pursuant to a valid written license from Digital Equipment  *
# *   Corporation.                                                *
# *                                                               *
# *   RESTRICTED RIGHTS LEGEND   Use, duplication, or disclosure  *
# *   by the U.S. Government is subject to restrictions  as  set  *
# *   forth in Subparagraph (c)(1)(ii)  of  DFARS  252.227-7013,  *
# *   or  in  FAR 52.227-19, as applicable.                       *
# *                                                               *
# *****************************************************************
# 
# HISTORY
# 
# @(#)$RCSfile: rc.config,v $ $Revision: 4.2.3.8 $ (DEC) $Date: 1992/11/24 16:41:43 $
# 
# The variables set by the netsetup program that are required for network
# configuration are as follows:
#
# HOSTNAME - host name of the system
#
# NUM_NETCONFIG - number of network devices currently configured
#
# MAX_NETDEVS - maximum number of network devices that can be configured
#		which is currently set by netsetup to a value of 16
#
# NETDEV_n - network device name for network devices currently
#	     configured, where n is 0 to MAX_NETDEVS - 1
#	     for example, NETDEV_0="ln0"
#
# IFCONFIG_n - ifconfig parameters for network devices currently
#	       configured, where n is 0 to MAX_NETDEVS - 1
#	       (see ifconfig(8) manual page)
#	       for example, IFCONFIG_0="130.124.1.20 netmask 255.255.255.0"
#
# RWHOD - "yes" if rwhod is enabled, blank or "no" if rwhod is disabled
#
# ROUTED - "yes" if routed is enabled, blank or "no" if routed is disabled
#
# ROUTED_FLAGS - routed flags (see routed(8) manual page)
#
# ROUTER - "yes" if the system is set up to be an Internet Protocol router,
#	   otherwise, blank or "no"
#
# GATED - "yes" if gated is enabled, blank or "no" if gated is disabled
#
# GATED_FLAGS - gated flags (see gated(8) manual page)
#
DISPLAYTYPE=
HOSTNAME=
NUM_NETCONFIG=
MAX_NETDEVS=
NETDEV_0=
NETDEV_1=
NETDEV_2=
NETDEV_3=
NETDEV_4=
NETDEV_5=
NETDEV_6=
NETDEV_7=
IFCONFIG_0=
IFCONFIG_1=
IFCONFIG_2=
IFCONFIG_3=
IFCONFIG_4=
IFCONFIG_5=
IFCONFIG_6=
IFCONFIG_7=
RWHOD=
ROUTED=
ROUTED_FLAGS=
ROUTER=
GATED=
GATED_FLAGS=
PAGERAW=
PAGEFILE=
PARTITION=
PARTITIONTYPE=
PAGEMINSZ=0
PAGEMAXSZ=0
QUOTA_CONFIG=
export DISPLAYTYPE HOSTNAME NUM_NETCONFIG QUOTA_CONFIG
export NETDEV_0 NETDEV_1 NETDEV_2 NETDEV_3 NETDEV_4 NETDEV_5 NETDEV_6 NETDEV_7
export IFCONFIG_0 IFCONFIG_1 IFCONFIG_2 IFCONFIG_3 IFCONFIG_4 IFCONFIG_5
export IFCONFIG_6 IFCONFIG_7 RWHOD ROUTED ROUTED_FLAGS GATED GATED_FLAGS
export ROUTER MAX_NETDEVS
export PAGERAW PAGEFILE PARTITION PARTITIONTYPE PAGEMINSZ PAGEMAXSZ
