/**/# 
/**/# *****************************************************************
/**/# *                                                               *
/**/# *    Copyright (c) Digital Equipment Corporation, 1991, 1994    *
/**/# *                                                               *
/**/# *   All Rights Reserved.  Unpublished rights  reserved  under   *
/**/# *   the copyright laws of the United States.                    *
/**/# *                                                               *
/**/# *   The software contained on this media  is  proprietary  to   *
/**/# *   and  embodies  the  confidential  technology  of  Digital   *
/**/# *   Equipment Corporation.  Possession, use,  duplication  or   *
/**/# *   dissemination of the software and media is authorized only  *
/**/# *   pursuant to a valid written license from Digital Equipment  *
/**/# *   Corporation.                                                *
/**/# *                                                               *
/**/# *   RESTRICTED RIGHTS LEGEND   Use, duplication, or disclosure  *
/**/# *   by the U.S. Government is subject to restrictions  as  set  *
/**/# *   forth in Subparagraph (c)(1)(ii)  of  DFARS  252.227-7013,  *
/**/# *   or  in  FAR 52.227-19, as applicable.                       *
/**/# *                                                               *
/**/# *****************************************************************
/**/#

#ifndef SFBACC_TMPL
#define SFBACC_TMPL

/*
 * This rules file describes how to accumulate lists of files.
 */

/*
 * Most of the clean-up of the Imakefile is made possible by transparent
 * generation of src and obj lists.  This is straightforward on alpha,
 * but entails hoops and hackery on mips: we have to deposit into the
 * Makefile a distinguished symbol everytime we name sources, and then
 * use a shell script to patch things up.
 */

#ifndef MipsArchitecture

#define ACC_SRC_CPY(srcRoot,sfx)						@@\
srcRoot/**/sfx/**/_COPY_SRCS = \                                                @@\
        srcRoot/**/sfx/**/8888.c srcRoot/**/sfx/**/88328.c     \                @@\
        srcRoot/**/sfx/**/32888.c srcRoot/**/sfx/**/328328.c   \                @@\
        srcRoot/**/sfx/**/32323232.c                                            @@\
COPY_SRCS_EXPANDED= $(COPY_SRCS_EXPANDED) $(srcRoot/**/sfx/**/_COPY_SRCS)	@@\
srcRoot/**/sfx/**/_COPY_OBJS = $(srcRoot/**/sfx/**/_COPY_SRCS:.c=.o)		@@\
ACCUM_LNKS($(srcRoot/**/sfx/**/_COPY_SRCS))

#define ACC_SRC_CPY_SCRMEM(srcRoot,sfx)						@@\
srcRoot/**/sfx/**/_COPY_SRCS = \                                                @@\
	srcRoot/**/sfx/**/8888.c srcRoot/**/sfx/**/32888.c	\		@@\
	srcRoot/**/sfx/**/32323232.c						@@\
COPY_SRCS_EXPANDED= $(COPY_SRCS_EXPANDED) $(srcRoot/**/sfx/**/_COPY_SRCS)       @@\
srcRoot/**/sfx/**/_COPY_OBJS = $(srcRoot/**/sfx/**/_COPY_SRCS:.c=.o)		@@\
ACCUM_LNKS($(srcRoot/**/sfx/**/_COPY_SRCS))

#define ACC_SRC_CPY_MEMSCR(srcRoot,sfx)                                         @@\
srcRoot/**/sfx/**/_COPY_SRCS = \                                                @@\
        srcRoot/**/sfx/**/8888.c srcRoot/**/sfx/**/88328.c     \                @@\
        srcRoot/**/sfx/**/32323232.c                                            @@\
COPY_SRCS_EXPANDED= $(COPY_SRCS_EXPANDED) $(srcRoot/**/sfx/**/_COPY_SRCS)       @@\
srcRoot/**/sfx/**/_COPY_OBJS = $(srcRoot/**/sfx/**/_COPY_SRCS:.c=.o)		@@\
ACCUM_LNKS($(srcRoot/**/sfx/**/_COPY_SRCS))
		
#else

#define ACC_SRC_CPY(srcRoot,sfx)						@@\
ZZZ_copy= srcRoot/**/sfx/**/8888.c srcRoot/**/sfx/**/88328.c srcRoot/**/sfx/**/32888.c srcRoot/**/sfx/**/328328.c srcRoot/**/sfx/**/32323232.c @@\
__copy= srcRoot/**/sfx/**/8888.c srcRoot/**/sfx/**/88328.c     \		@@\
	srcRoot/**/sfx/**/32888.c srcRoot/**/sfx/**/328328.c   \                @@\
	srcRoot/**/sfx/**/32323232.c                                            @@\
srcRoot/**/sfx/**/_COPY_OBJS = $(__copy:.c=.o)					@@\
WWW_links= srcRoot/**/sfx/**/8888.c srcRoot/**/sfx/**/88328.c     \		@@\
        srcRoot/**/sfx/**/32888.c srcRoot/**/sfx/**/328328.c   \                @@\
        srcRoot/**/sfx/**/32323232.c

#define ACC_SRC_CPY_SCRMEM(srcRoot,sfx)                                         @@\
ZZZ_copy= srcRoot/**/sfx/**/8888.c srcRoot/**/sfx/**/32888.c srcRoot/**/sfx/**/32323232.c @@\
__copy=   srcRoot/**/sfx/**/8888.c srcRoot/**/sfx/**/32888.c srcRoot/**/sfx/**/32323232.c @@\
srcRoot/**/sfx/**/_COPY_OBJS = $(__copy:.c=.o)					@@\
WWW_links= srcRoot/**/sfx/**/8888.c srcRoot/**/sfx/**/32888.c srcRoot/**/sfx/**/32323232.c

#define ACC_SRC_CPY_MEMSCR(srcRoot,sfx)                                         @@\
ZZZ_copy= srcRoot/**/sfx/**/8888.c srcRoot/**/sfx/**/88328.c srcRoot/**/sfx/**/32323232.c @@\
__copy=   srcRoot/**/sfx/**/8888.c srcRoot/**/sfx/**/88328.c srcRoot/**/sfx/**/32323232.c @@\
srcRoot/**/sfx/**/_COPY_OBJS = $(__copy:.c=.o)					@@\
WWW_links= srcRoot/**/sfx/**/8888.c srcRoot/**/sfx/**/88328.c srcRoot/**/sfx/**/32323232.c

#endif



#endif /* SFBACC_TMPL */
/**/#
/**/# HISTORY
/**/# $Log$
/**/# $EndLog$
/**/# $EndLog$
