/**/# 
/**/# *****************************************************************
/**/# *                                                               *
/**/# *    Copyright (c) Digital Equipment Corporation, 1991, 1994    *
/**/# *                                                               *
/**/# *   All Rights Reserved.  Unpublished rights  reserved  under   *
/**/# *   the copyright laws of the United States.                    *
/**/# *                                                               *
/**/# *   The software contained on this media  is  proprietary  to   *
/**/# *   and  embodies  the  confidential  technology  of  Digital   *
/**/# *   Equipment Corporation.  Possession, use,  duplication  or   *
/**/# *   dissemination of the software and media is authorized only  *
/**/# *   pursuant to a valid written license from Digital Equipment  *
/**/# *   Corporation.                                                *
/**/# *                                                               *
/**/# *   RESTRICTED RIGHTS LEGEND   Use, duplication, or disclosure  *
/**/# *   by the U.S. Government is subject to restrictions  as  set  *
/**/# *   forth in Subparagraph (c)(1)(ii)  of  DFARS  252.227-7013,  *
/**/# *   or  in  FAR 52.227-19, as applicable.                       *
/**/# *                                                               *
/**/# *****************************************************************
/**/#

#ifndef SFBCOPY_TMPL
#define SFBCOPY_TMPL

/*
 * This rules file describes how to generate the multiple compilations
 * required for every source file that does copies.  We compile once
 * for each distinct permutation of destination and source depth.
 */
#include "ffbAcc.tmpl"

#define SRC_DEPTH_PACKING_REALLY(spec,srcPhys,srcLog,dstPhys,dstLog,cfbpsz)	\@@\
                "spec								\@@\
                 -DFFBSRCPIXELBITS=srcPhys -DFFBSRCDEPTHBITS=srcLog             \@@\
                 -DFFBPIXELBITS=dstPhys -DFFBDEPTHBITS=dstLog -DPSZ=cfbpsz"

#define SRC_DEPTH_PACKING(sfx,srcPhys,srcLog,dstPhys,dstLog,cfbpixelsize)       \@@\
	SRC_DEPTH_PACKING_REALLY(sfx/**/srcPhys/**/srcLog/**/dstPhys/**/dstLog,srcPhys,srcLog,dstPhys,dstLog,cfbpixelsize)


#define ffbCompileCopySrc(srcRoot,sfx,depends,constant_flags,var_flags)	        @@\
ACC_SRC_CPY(srcRoot,sfx)							@@\
										@@\
clean/**/srcRoot/**/sfx::							@@\
	-$(RM) srcRoot/**/sfx/**/8888.c						@@\
	-$(RM) srcRoot/**/sfx/**/88328.c					@@\
	-$(RM) srcRoot/**/sfx/**/32888.c					@@\
	-$(RM) srcRoot/**/sfx/**/328328.c					@@\
	-$(RM) srcRoot/**/sfx/**/32323232.c					@@\
										@@\
clean:: clean/**/srcRoot/**/sfx						        @@\
										@@\
includes:: clean/**/srcRoot/**/sfx						@@\
	-$(LN) srcRoot.c srcRoot/**/sfx/**/8888.c				@@\
	-$(LN) srcRoot.c srcRoot/**/sfx/**/88328.c                              @@\
	-$(LN) srcRoot.c srcRoot/**/sfx/**/32888.c                              @@\
	-$(LN) srcRoot.c srcRoot/**/sfx/**/328328.c                             @@\
	-$(LN) srcRoot.c srcRoot/**/sfx/**/32323232.c				@@\
										@@\
CompileNTimes(srcRoot,$(srcRoot/**/sfx/**/_COPY_OBJS),c,depends,constant_flags,var_flags,\@@\
                        SRC_DEPTH_PACKING(sfx,8,8,8,8,8)         	\       @@\
                        SRC_DEPTH_PACKING(sfx,8,8,32,8,8)        	\       @@\
                        SRC_DEPTH_PACKING(sfx,32,8,8,8,8)        	\       @@\
                        SRC_DEPTH_PACKING(sfx,32,8,32,8,8)      	\       @@\
                        SRC_DEPTH_PACKING(sfx,32,32,32,32,32))

#define ffbCompileCopyScrMem(srcRoot,sfx,depends,constant_flags,var_flags)      @@\
ACC_SRC_CPY_SCRMEM(srcRoot,sfx)                                                 @@\
                                                                                @@\
clean/**/srcRoot/**/sfx::                                                       @@\
	-$(RM) srcRoot/**/sfx/**/8888.c                                         @@\
	-$(RM) srcRoot/**/sfx/**/32888.c                                        @@\
	-$(RM) srcRoot/**/sfx/**/32323232.c                                     @@\
                                                                                @@\
clean:: clean/**/srcRoot/**/sfx                                                 @@\
                                                                                @@\
includes:: clean/**/srcRoot/**/sfx                                              @@\
	-$(LN) srcRoot.c srcRoot/**/sfx/**/8888.c                               @@\
	-$(LN) srcRoot.c srcRoot/**/sfx/**/32888.c                              @@\
	-$(LN) srcRoot.c srcRoot/**/sfx/**/32323232.c                           @@\
                                                                                @@\
CompileNTimes(srcRoot,$(srcRoot/**/sfx/**/_COPY_OBJS),c,depends,constant_flags, var_flags,\@@\
                        SRC_DEPTH_PACKING(sfx,8,8,8,8,8)                \       @@\
                        SRC_DEPTH_PACKING(sfx,32,8,8,8,8)               \       @@\
                        SRC_DEPTH_PACKING(sfx,32,32,32,32,32))

#define ffbCompileCopyMemScr(srcRoot,sfx,depends,constant_flags, var_flags)     @@\
ACC_SRC_CPY_MEMSCR(srcRoot,sfx)                                                 @@\
                                                                                @@\
clean/**/srcRoot/**/sfx::                                                       @@\
	-$(RM) srcRoot/**/sfx/**/8888.c                                         @@\
	-$(RM) srcRoot/**/sfx/**/88328.c                                        @@\
	-$(RM) srcRoot/**/sfx/**/32323232.c                                     @@\
                                                                                @@\
clean:: clean/**/srcRoot/**/sfx                                                 @@\
                                                                                @@\
includes:: clean/**/srcRoot/**/sfx                                              @@\
	-$(LN) srcRoot.c srcRoot/**/sfx/**/8888.c                               @@\
	-$(LN) srcRoot.c srcRoot/**/sfx/**/88328.c                              @@\
	-$(LN) srcRoot.c srcRoot/**/sfx/**/32323232.c                           @@\
                                                                                @@\
CompileNTimes(srcRoot,$(srcRoot/**/sfx/**/_COPY_OBJS),c,depends,constant_flags,var_flags,\@@\
                        SRC_DEPTH_PACKING(sfx,8,8,8,8,8)                \       @@\
                        SRC_DEPTH_PACKING(sfx,8,8,32,8,8)               \       @@\
                        SRC_DEPTH_PACKING(sfx,32,32,32,32,32))


#endif /* SFBCOPY_TMPL */
/**/#
/**/# HISTORY
