/**/# 
/**/# *****************************************************************
/**/# *                                                               *
/**/# *    Copyright (c) Digital Equipment Corporation, 1991, 1994    *
/**/# *                                                               *
/**/# *   All Rights Reserved.  Unpublished rights  reserved  under   *
/**/# *   the copyright laws of the United States.                    *
/**/# *                                                               *
/**/# *   The software contained on this media  is  proprietary  to   *
/**/# *   and  embodies  the  confidential  technology  of  Digital   *
/**/# *   Equipment Corporation.  Possession, use,  duplication  or   *
/**/# *   dissemination of the software and media is authorized only  *
/**/# *   pursuant to a valid written license from Digital Equipment  *
/**/# *   Corporation.                                                *
/**/# *                                                               *
/**/# *   RESTRICTED RIGHTS LEGEND   Use, duplication, or disclosure  *
/**/# *   by the U.S. Government is subject to restrictions  as  set  *
/**/# *   forth in Subparagraph (c)(1)(ii)  of  DFARS  252.227-7013,  *
/**/# *   or  in  FAR 52.227-19, as applicable.                       *
/**/# *                                                               *
/**/# *****************************************************************
/**/#

#ifndef SFBMIPSHACK_TMPL
#define SFBMIPSHACK_TMPL

/*
 * This rules file is motivated by mips make's inability to process
 * expressions of the form 'a = $a' correctly.  We get around this by
 * post-processing the Makefile.
 */

all::

includes::
	/bin/csh -f mipsHack.csh
		
#endif /* SFBMIPSHACK_TMPL */

/**/# HISTORY
/**/# 
