/*
 * *****************************************************************
 * *                                                               *
 * *    Copyright (c) Digital Equipment Corporation, 1991, 1994    *
 * *                                                               *
 * *   All Rights Reserved.  Unpublished rights  reserved  under   *
 * *   the copyright laws of the United States.                    *
 * *                                                               *
 * *   The software contained on this media  is  proprietary  to   *
 * *   and  embodies  the  confidential  technology  of  Digital   *
 * *   Equipment Corporation.  Possession, use,  duplication  or   *
 * *   dissemination of the software and media is authorized only  *
 * *   pursuant to a valid written license from Digital Equipment  *
 * *   Corporation.                                                *
 * *                                                               *
 * *   RESTRICTED RIGHTS LEGEND   Use, duplication, or disclosure  *
 * *   by the U.S. Government is subject to restrictions  as  set  *
 * *   forth in Subparagraph (c)(1)(ii)  of  DFARS  252.227-7013,  *
 * *   or  in  FAR 52.227-19, as applicable.                       *
 * *                                                               *
 * *****************************************************************
 */
/*
 * HISTORY
 */
XCOMM -------------------------------------------------------------------------
XCOMM DEC-Specific System Build Parameters

#ifndef BuildMotif
#define BuildMotif NO
#endif

#if BuildMotif
#define MotifAppsDefines
#define MotifLibsDefines -DALPHA_64BIT -DALPHA_BUG_FIX -DNO_REGCOMP -DNO_REGEX -DDEC_BUG_FIX -DDEC_EXTENSION -DXUI_COMPATIBILITY -DDEC_MOTIF_BUG_FIX -DDEC_MOTIF_EXTENSION -DR5_XLIB -DSTRINGS_ALIGNED
#define MotifSpecialIncludes
#endif

#ifndef SharedLibDXm
#define SharedLibDXm HasSharedLibraries
#endif
#ifndef NormalLibDXm
#define NormalLibDXm (!SharedLibDXm | ForceNormalLib)
#endif
#ifndef SharedLibBkr
#define SharedLibBkr HasSharedLibraries
#endif
#ifndef NormalLibBkr
#define NormalLibBkr (!SharedLibBkr | ForceNormalLib)
#endif
#ifndef SharedLibIds
#define SharedLibIds HasSharedLibraries
#endif
#ifndef NormalLibIds
#define NormalLibIds (!SharedLibIds | ForceNormalLib)
#endif
#ifndef SharedLibDvr
#define SharedLibDvr HasSharedLibraries
#endif
#ifndef NormalLibDvr
#define NormalLibDvr (!SharedLibDvr | ForceNormalLib)
#endif
#ifndef SharedLibDps
#define SharedLibDps HasSharedLibraries
#endif
#ifndef NormalLibDps
#define NormalLibDps (!SharedLibDps | ForceNormalLib)
#endif
#ifndef SharedLibLwk
#define SharedLibLwk HasSharedLibraries
#endif
#ifndef NormalLibLwk
#define NormalLibLwk (!SharedLibLwk | ForceNormalLib)
#endif
#ifndef SharedLibXv
#define SharedLibXv HasSharedLibraries
#endif
#ifndef NormalLibXv
#define NormalLibXv (!SharedLibXv | ForceNormalLib)
#endif

          HELPDIR = $(LIBDIR)/help
           UIDDIR = $(LIBDIR)/uid
           CDADIR = $(USRLIBDIR)/cda

           DXMSRC = $(MLIBSRC)/DXm
           DPSSRC = $(EXTENSIONSRC)/DPS/lib/dps
         DPSTKSRC = $(EXTENSIONSRC)/DPS/lib/dpstk
         PSRESSRC = $(EXTENSIONSRC)/DPS/lib/psres
           XIESRC = $(EXTENSIONSRC)/lib/xie
           IDSSRC = $(MLIBSRC)/ids
           BKRSRC = $(MLIBSRC)/bkr
        DWI18NSRC = $(MLIBSRC)/dwi18n
           LWKSRC = $(MLIBSRC)/lwk
           DVRSRC = $(MLIBSRC)/dvr


#if SharedLibDXm
       DEPDXMLIB = _Use($(USRSHLIBDIR),$(DXMSRC))/libDXm.so
          DXMLIB = _Use(-lDXm,$(DXMSRC)/libDXm.so)
#else
       DEPDXMLIB = _Use($(USRLIBDIR),$(DXMSRC))/libDXm.a
          DXMLIB = LoaderLibPrefix _Use(-lDXm,$(DEPDXMLIB))
#endif
       MDXMLIB = $(DXMLIB)
#if SharedLibDps
        DEPDPSLIB = _UseCat($(USRSHLIBDIR),$(DPSSRC),/libdps.so)
           DPSLIB = _Use(-ldps,$(DEPDPSLIB))
#else
        DEPDPSLIB = _Use($(USRLIBDIR),$(DPSSRC))/libdps.a
           DPSLIB = LoaderLibPrefix _Use(-ldps,$(DEPDPSLIB))
#endif

#if SharedLibDps
      DEPDPSTKLIB = _UseCat($(USRSHLIBDIR),$(DPSTKSRC),/libdpstk.so)
         DPSTKLIB = _Use(-ldpstk,$(DEPDPSTKLIB))
#else
        DEPDPSTKLIB = _Use($(USRLIBDIR),$(DPSTKSRC))/libdpstk.a
           DPSTKLIB = LoaderLibPrefix _Use(-ldpstk,$(DEPDPSTKLIB))
#endif

#if SharedLibDps
        DEPPSRESLIB = _UseCat($(USRSHLIBDIR),$(PSRESSRC),/libpsres.so)
           PSRESLIB = _Use(-lpsres,$(DEPPSRESLIB))
#else
        DEPPSRESLIB = _Use($(USRLIBDIR),$(PSRESSRC))/libpsres.a
           PSRESLIB = LoaderLibPrefix _Use(-lpsres,$(DEPPSRESLIB))
#endif

#if SharedLibXie
        DEPXIELIB = _UseCat($(USRSHLIBDIR),$(XIESRC),/libXie.so)
           XIELIB = _Use(-lXie,$(DEPXIELIB))
#else
        DEPXIELIB = _Use($(USRLIBDIR),$(XIESRC))/libXie.a
           XIELIB = LoaderLibPrefix _Use(-lXie,$(DEPXIELIB))
#endif

#if SharedLibIds
        DEPIDSLIB = _UseCat($(USRSHLIBDIR),$(IDSSRC),/libids.so)
           IDSLIB = _Use(-lids,$(DEPIDSLIB))
#else
        DEPIDSLIB = _Use($(USRLIBDIR),$(IDSSRC))/libids.a
           IDSLIB = LoaderLibPrefix _Use(-lids,$(DEPIDSLIB))
#endif

#if SharedLibBkr
        DEPBKRLIB = _UseCat($(USRSHLIBDIR),$(BKRSRC),/libbkr.so)
           BKRLIB = _Use(-lbkr,$(DEPBKRLIB))
#else
        DEPBKRLIB = _Use($(USRLIBDIR),$(BKRSRC))/libbkr.a
           BKRLIB = LoaderLibPrefix _Use(-lbkr,$(DEPBKRLIB))
#endif


#if SharedLibI18N
        DEPDWI18NLIB = _UseCat($(USRSHLIBDIR),$(DWI18NSRC),/libdwi18n.so)
           DWI18NLIB = _Use(-ldwi18n,$(DEPDWI18NLIB))
#else
        DEPDWI18NLIB = _Use($(USRLIBDIR),$(DWI18NSRC))/libdwi18n.a
           DWI18NLIB = LoaderLibPrefix _Use(-ldwi18n,$(DEPDWI18NLIB))
#endif

#if SharedLibLwk
        DEPLWKLIB = _UseCat($(USRSHLIBDIR),$(LWKSRC),/liblwkdxm.so)
           LWKLIB = _Use(-llwkdxm,$(DEPLWKLIB))
#else
        DEPLWKLIB = _Use($(USRLIBDIR),$(LWKSRC))/liblwkdxm.a
           LWKLIB = LoaderLibPrefix _Use(-llwkdxm,$(DEPLWKLIB))
#endif

#if SharedLibDvr
        DEPDVRLIB = _UseCat($(USRSHLIBDIR),$(DVRSRC),/libdvr.so)
           DVRLIB = _Use(-ldvr,$(DEPDVRLIB))
#else
        DEPDVRLIB = _Use($(USRLIBDIR),$(DVRSRC))/libdvr.a
           DVRLIB = LoaderLibPrefix _Use(-ldvr,$(DEPDVRLIB))
#endif

        DEPIMGLIB =
        DEPIPSLIB =
        DEPCHFLIB =
        DEPCDALIB =
        DEPDVSLIB =

    DEPIDS_NOXLIB =

           IMGLIB = -limg
           IPSLIB = -lips
           CHFLIB = -lchf
           CDALIB = -lcda
       IDS_NOXLIB = -lids_nox
           DVSLIB = -ldvs

     DEBUGUSRLIBDIR=/usr/debugshlib

#ifndef DXmClientDepLibs
#define DXmClientDepLibs $(DEPDXMLIB) $(DEPBKRLIB) MrmClientDepLibs
#endif
#ifndef DXmClientLibs
#define DXmClientLibs $(DXMLIB) $(BKRLIB) MrmClientLibs
#endif
