/*
 * *****************************************************************
 * *                                                               *
 * *    Copyright (c) Digital Equipment Corporation, 1991, 1994    *
 * *                                                               *
 * *   All Rights Reserved.  Unpublished rights  reserved  under   *
 * *   the copyright laws of the United States.                    *
 * *                                                               *
 * *   The software contained on this media  is  proprietary  to   *
 * *   and  embodies  the  confidential  technology  of  Digital   *
 * *   Equipment Corporation.  Possession, use,  duplication  or   *
 * *   dissemination of the software and media is authorized only  *
 * *   pursuant to a valid written license from Digital Equipment  *
 * *   Corporation.                                                *
 * *                                                               *
 * *   RESTRICTED RIGHTS LEGEND   Use, duplication, or disclosure  *
 * *   by the U.S. Government is subject to restrictions  as  set  *
 * *   forth in Subparagraph (c)(1)(ii)  of  DFARS  252.227-7013,  *
 * *   or  in  FAR 52.227-19, as applicable.                       *
 * *                                                               *
 * *****************************************************************
 */
/*
 * HISTORY
 */
/* SCCSID = OSF/Motif: @(#)Motif.tmpl	3.1 90/03/06 */
#ifndef UsrIncDir
#define UsrIncDir $(INCDIR)
#endif

#ifndef HasMotif
#define HasMotif YES
#endif

#ifndef DebugLibXm
#define DebugLibXm		NO	/* debugged Xm library */
#endif
#ifndef ProfileLibXm
#define ProfileLibXm		NO	/* profiled Xm library */
#endif
#ifndef UilFlags
#define UilFlags 			/* as nothing */
#endif

#ifndef SharedLibXm
#define SharedLibXm HasSharedLibraries
#endif
#ifndef NormalLibXm
#define NormalLibXm (!SharedLibXm | ForceNormalLib)
#endif
#ifndef SharedLibMrm
#define SharedLibMrm HasSharedLibraries
#endif
#ifndef NormalLibMrm
#define NormalLibMrm (!SharedLibMrm | ForceNormalLib)
#endif
#ifndef BuildClientDepLibs
#ifdef UseInstalledMotif
#define BuildClientDepLibs MrmClientDepLibs
#else
#define BuildClientDepLibs $(MRESOURCESRC)/libMrm.a $(MWIDGETSRC)/libXm.a $(DEPXTOOLLIB) $(DEPXLIB)
#endif
#endif

       UILFLAGS = UilFlags
        MLIBSRC = $(TOP)/motif/lib
          XMSRC = $(MLIBSRC)/Xm
         LINTXM = _Use($(USRLIBDIR),$(XMSRC))/llib-lXm.ln
      USRINCDIR = UsrIncDir
        TESTSRC = $(TOP)/tests
    MTOOLKITSRC = $(LIBSRC)/Xt
     MWIDGETSRC = $(MLIBSRC)/Xm
   MRESOURCESRC = $(MLIBSRC)/Mrm
     MCLIENTSRC = $(TOP)/motif/clients
         UILSRC = $(MCLIENTSRC)/uil
    MINCLUDESRC = $(INCLUDESRC)
#ifndef UilCommand
#ifdef UseInstalled
            UIL = uil
#else
            UIL = $(UILSRC)/uil
#endif
#else
            UIL = UilCommand
#endif
     INSTALLLIB = $(DESTDIR)/usr/lib
   INSTALLSHLIB = $(DESTDIR)/usr/shlib

#if SharedLibXm
        DEPXMLIB = _Use($(USRSHLIBDIR),$(XMSRC))/libXm.so
           XMLIB = _Use(-lXm,$(XMSRC)/libXm.so)
#else
        DEPXMLIB = _Use($(USRLIBDIR),$(XMSRC))/libXm.a
           XMLIB = LoaderLibPrefix _Use(-lXm,$(DEPXMLIB))
#endif
#if SharedLibMrm
DEPMRESOURCELIB = _Use($(USRSHLIBDIR),$(MRESOURCESRC))/libMrm.so
   MRESOURCELIB = _Use(-lMrm,$(MRESOURCESRC)/libMrm.so)
#else
DEPMRESOURCELIB = _Use($(USRLIBDIR),$(MRESOURCESRC))/libMrm.a
   MRESOURCELIB = LoaderLibPrefix _Use(-lMrm,$(DEPMRESOURCELIB))
#endif

    UILINCLUDES = _Use(,-I$(BUILDINCDIR)/uil)

         UILLIB = $(UILSRC)/libUil.a
LINTXMWIDGETLIB = $(MWIDGETSRC)/llib-l/Xm.ln
     LINTXMTOOL = $(MTOOLKITSRC)/llib-lXt.ln
     LINTUILLIB = $(UILSRC)/llib-lUil.ln


#ifndef XmClientDepLibs
#define XmClientDepLibs $(DEPXMLIB) $(DEPXTOOLLIB) $(DEPXLIB)
#endif
#ifndef XmClientLibs
#define XmClientLibs $(XMLIB) $(XTOOLLIB) $(XLIB) 
#endif

#ifndef MrmClientDepLibs
#define MrmClientDepLibs $(DEPMRESOURCELIB) XmClientDepLibs
#endif
#ifndef MrmClientLibs
#define MrmClientLibs $(MRESOURCELIB) XmClientLibs
#endif

#ifndef BuildClientLibs
#ifdef UseInstalledMotif
#define BuildClientLibs MrmClientLibs
#else
#define BuildClientLibs MrmClientLibs
#endif
#endif
