/*
 * *****************************************************************
 * *                                                               *
 * *    Copyright (c) Digital Equipment Corporation, 1991, 1994    *
 * *                                                               *
 * *   All Rights Reserved.  Unpublished rights  reserved  under   *
 * *   the copyright laws of the United States.                    *
 * *                                                               *
 * *   The software contained on this media  is  proprietary  to   *
 * *   and  embodies  the  confidential  technology  of  Digital   *
 * *   Equipment Corporation.  Possession, use,  duplication  or   *
 * *   dissemination of the software and media is authorized only  *
 * *   pursuant to a valid written license from Digital Equipment  *
 * *   Corporation.                                                *
 * *                                                               *
 * *   RESTRICTED RIGHTS LEGEND   Use, duplication, or disclosure  *
 * *   by the U.S. Government is subject to restrictions  as  set  *
 * *   forth in Subparagraph (c)(1)(ii)  of  DFARS  252.227-7013,  *
 * *   or  in  FAR 52.227-19, as applicable.                       *
 * *                                                               *
 * *****************************************************************
 */
/*
 * HISTORY
 */
/*
 * OSF shared library template
 */


      USRSHLIBDIR = UsrShLibDir
#ifdef ShLibFlags
       SHLIBFLAGS = ShLibFlags
#endif

#if SharedLibXext
  DEPEXTENSIONLIB = _UseCat($(USRSHLIBDIR),$(EXTENSIONSRC)/lib,/libXext.so) 
     EXTENSIONLIB = _Use(-lXext,$(DEPEXTENSIONLIB))
#endif
#if SharedLibX
          DEPXLIB = $(DEPEXTENSIONLIB) _UseCat($(USRSHLIBDIR),$(XLIBSRC),/libX11.so) 
             XLIB = _Use(-lXext -lX11,$(DEPXLIB))
#endif
#if SharedLibXmu
        DEPXMULIB = _UseCat($(USRSHLIBDIR),$(XMUSRC),/libXmu.so) 
           XMULIB = _Use(-lXmu,$(DEPXMULIB))
#endif
#if SharedOldLibX
       DEPOLDXLIB = _UseCat($(USRSHLIBDIR),$(OLDXLIBSRC),/liboldX.so) 
          OLDXLIB = _Use(-loldX,$(DEPOLDXLIB))
#endif
#if SharedLibXt
      DEPXTOOLLIB = _UseCat($(USRSHLIBDIR),$(TOOLKITSRC),/libXt.so)
         XTOOLLIB = _Use(-lXt,$(DEPXTOOLLIB))
#endif
#if SharedLibXaw
        DEPXAWLIB = _UseCat($(USRSHLIBDIR),$(AWIDGETSRC),/libXaw.so) 
           XAWLIB = _Use(-lXaw,$(DEPXAWLIB))
#endif
#if SharedLibXinput
        DEPXILIB = _UseCat($(USRSHLIBDIR),$(XILIBSRC),/libXi.a) 
           XILIB = _Use(-lXi,$(DEPXILIB))
#endif
#if SharedLibXTest
        DEPXTESTLIB = _UseCat($(USRSHLIBDIR),$(XTESTLIBSRC),/libXtst.sa.$(SOXTESTREV)) 
           XTESTLIB = _Use(-lXtst,$(DEPXTESTLIB))
#endif
