/*
 * *****************************************************************
 * *                                                               *
 * *    Copyright (c) Digital Equipment Corporation, 1991, 1994    *
 * *                                                               *
 * *   All Rights Reserved.  Unpublished rights  reserved  under   *
 * *   the copyright laws of the United States.                    *
 * *                                                               *
 * *   The software contained on this media  is  proprietary  to   *
 * *   and  embodies  the  confidential  technology  of  Digital   *
 * *   Equipment Corporation.  Possession, use,  duplication  or   *
 * *   dissemination of the software and media is authorized only  *
 * *   pursuant to a valid written license from Digital Equipment  *
 * *   Corporation.                                                *
 * *                                                               *
 * *   RESTRICTED RIGHTS LEGEND   Use, duplication, or disclosure  *
 * *   by the U.S. Government is subject to restrictions  as  set  *
 * *   forth in Subparagraph (c)(1)(ii)  of  DFARS  252.227-7013,  *
 * *   or  in  FAR 52.227-19, as applicable.                       *
 * *                                                               *
 * *****************************************************************
 */
/*
 * HISTORY
 */
/*
 * Server imakefile info  - this contains any special redefinitions, etc.
 * that Imakefiles in the server subtree will need.
 */

#include <Server.rules>

XCOMM $XConsortium: Server.tmpl,v 1.5 91/05/06 19:00:26 rws Exp $

XCOMM Can't have this messing up relative path of CC in alpha build...
XCOMM  #define PassCDebugFlags 'CDEBUGFLAGS=$(CDEBUGFLAGS)' 'CC=$(CC)' 'CCOPTIONS=$(CCOPTIONS)'
#define PassCDebugFlags /**/

#ifndef ServerCcCmd
#define ServerCcCmd CcCmd
#endif
#ifndef ServerCCOptions
#define ServerCCOptions DefaultCCOptions
#endif
#ifndef ServerDefines
#define ServerDefines StandardDefines 
#endif
#ifndef ServerCDebugFlags
#define ServerCDebugFlags OptimizedCDebugFlags 
#endif
#ifndef InstallShlibDir
#define InstallShlibDir $(DESTDIR)/usr/shlib/Xserver
#endif
#ifndef NmCmd
#ifdef AlphaOSFCrossEnvironment
#define NmCmd "anm -g"
#else
#define NmCmd "nm -gB"
#endif
#endif /* NmCmd */
#ifndef ExternListCmd
#define ExternListCmd $(UTILSRC)/loadables/ExternList.sh
#endif /* ExternListCmd */

                  CC = ServerCcCmd
           CCOPTIONS = ServerCCOptions
         STD_DEFINES = ServerDefines -DMITR5
         CDEBUGFLAGS = ServerCDebugFlags 
         EXT_DEFINES = ExtensionDefines
INSTALLSERVERLIBSDIR = InstallShlibDir
         EXTERN_LIST = ExternListCmd
                  NM = NmCmd
/* For now, this is still useful. dbx has a fix going in that will
 * remove this requirement after bl11, but it doesn't hurt
 */
      UPDATEREGISTRY = -update_registry $(TOP)/server/so_locations 
           LDLIBDIRS = -L -L$(CROSSBASE)/usr/shlib -L$(CROSSBASE)/usr/ccs/lib
           LDOPTIONS = -x -warning_unresolved 
       LDSERVERFLAGS = $(UPDATEREGISTRY) $(LDOPTIONS) $(LDLIBDIRS)

/* we don't want this stuff */
        SHAREDSWITCH = -non_shared
#ifdef SharedRegistry
      SHAREDREGISTRY = 
#endif
